body {
    width: 1400px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

#header{
    width: 100%;
    height: 115px;
    /* background-color: black; */
    position: relative;
}   
#header img{
    margin-left: 600px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.main{
    width: 1400px;
    height: 700px;
    margin-top: 30px;
}


.body01 .body01_Left {
    width: 20%;
    height: 100%;
}

.body01 .body01_Left a p {
    color: black;
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 65px;
}

.body01_Right p {
    font-size: 22px;
    margin-top: 15px;
    text-align: center;
}

.body01_Right ul {
    display: flex;
    margin-left: 170px;
    list-style: none;
}

.body01_Right ul li {
    margin-left: 14px;
}

.body01_Right ul li:hover {
    background-color: black;
    color: white;
}

.body hr {
    width: 90%;
    margin-left: 65px;
    background-color: black;
}

.Body02 {
    display: flex;
    height: 500px;
    width: 90%;
    margin-left: 65px;
    margin-top: 25px;
}

.body02Left {
    width: 80%;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(229, 232, 236);
}

.body02Left .Phan1 {
    height: 10%;
    width: 100%;
}

.body02Left .Phan1 ul {
    display: flex;
}

.body02Left .Phan1 ul li.Phan11 {
    margin-left: 185px;
    margin-top: 10px;
}
.body02Left .Phan1 ul li.Phan12 {
    margin-left: 110px;
    margin-top: 10px;
}

.body02Left .Phan1 ul li.Phan13 {
    margin-left: 80px;
    margin-top: 10px;
}

.body02Left .Phan1 ul li.Phan14 {
    margin-left: 90px;
    margin-top: 10px;
}

.body02Left .Phan2 {
    height: 27%;
    width: 100%;
    display: flex;
}

.PhanTrai {
    height: 100%;
    width: 15%;
}

.PhanTrai img {
    height: 95%;
    width: 90%;
    margin-left: 10px;
    margin-top: -5px;
}

.PhanPhai {
    height: 100%;
    width: 85%;
}

.PhanPhai ul {
    display: flex;
}

.PhanPhai ul li {
    font-size: 14px;
}

.PhanPhai ul li.Phan21 {
    margin-left: 30px;
    margin-top: 40px;
}
.PhanPhai ul li.Phan22 {
    margin-top: 40px;
    border-radius: 6px;
}

.PhanPhai ul li.Phan23 {
    margin-left: 140px;
    margin-top: 40px;
}

.PhanPhai ul li.Phan24 {
    margin-left: 105px;
    margin-top: 40px;
}

.PhanPhai ul li.Phan24::after{
    content: "VND";
}

.PhanPhai ul li.Phan25 {
    margin-left: 95px;
    margin-top: 40px;
}

.PhanPhai ul li.Phan25::after{
    content: "VND";
}

.body02Left .Phan3 {
    height: 27%;
    width: 100%;
    display: flex;
    margin-top: 15px;
}

.body02Left .Phan4 {
    height: 27%;
    width: 100%;
    display: flex;
    margin-top: 15px;
}

.body02Phai {
    width: 20%;
    height: 100%;
}

.body02Phai a button.buttonMuaNgay {
    border-radius: 20px;
    background-color: #e2ded4;
    border: 1px solid black;
    width: 200px;
    height: 40px;
    margin-left: 10px;
    color: black;
}

.body02Phai a button.buttonMuaNgay:hover {
    background-color: red;
    border: 1px solid red;
}

.body02Phai a button.buttonTTMN {
    border-radius: 20px;
    background-color: #e2ded4;
    border: 1px solid black;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    color: black;
}

.body02Phai a button.buttonTTMN:hover {
    background-color: red;
    border: 1px solid red;
}
.footer{
    width: 100%;
    height: 300px;
    margin-top: -25px;
    background-color: black;
   display: flex;
}

.footer img{
   height: 70px;
   width: 15%;
   margin-top: 20px;
   margin-left: 20px;
    
}
.hotro {
    color: white;
    margin-left: 70px;
    margin-top: 10px;
    width: 23%;
}
.gioithieu{
    color: white;
    margin-top: 10px;
    width: 25%;
}
.lienhe{
    margin-top: 10px;
    color: white;
    width: 25%;
}
